.playgroundContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0 0 0 auto;
  margin-top: 10vh;
  height: 90vh;
  width: 100%;
  max-width: 1200px;
  background: transparent;
  padding: var(--spacing-xxs);
  padding-right: var(--spacing-xxs);

}