.startBtn {
  transform: scale(1);
  font-size: 30px;
  font-family: var(--mainFont);
  text-align: center;
  color: var(--secondary);
  background: transparent;
  cursor: pointer;
  width: 20%;
  border-radius: 8px;
  transition: 0.3s;
  border: 1px solid var(--secondary);
  padding-top: var(--spacing-xxs);
  padding-bottom: var(--spacing-xxs);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  margin: 0;
  margin-top: var(--spacing-md);
  margin-left: var(--spacing-xxs);
}

.startBtn:hover {
  color: var(--primary);
  background: var(--secondary);
  transform: scale(1.1);
}

.learnBtn {
  width: 100%;
  color: var(--secondary);
  /* background: transparent; */
  background: var(--primary);
  border: 3px solid var(--primary);
  border-radius: 18px;
  font-size: 24px;
  margin-bottom: var(--spacing-sm);
  padding: var(--spacing-xxs);
  transition: 0.3s;
  /* filter: drop-shadow(0px 20px 15px #000000); */
}

.learnBtn:hover {
  color: var(--primary);
  background: var(--secondary);
  filter: drop-shadow(0px 20px 10px #000000);
}