.rulesContainer {
  /* height: fit-content; */
  height: 30vh;
  width: 100%;
  padding: var(--spacing-sm);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  border: 3px solid var(--primary);
  filter: drop-shadow(-20px 20px 50px #000000);
  border-radius: 25px;
  margin: 0;
  flex-grow: 1;
}